<div class="step-section">
  <div class="step-title">
    <h2>1. Let's set up</h2>
  </div>

  <div class="step-content">
    <ol>
      <li>Start Sublime Text. It will open a new black window.</li>
      <li>Create a <u>folder</u> <code>landing-page</code> on your Desktop. Drag & drop this folder in the Sublime Text window.</li>
      <li>In Sublime Text left navigation:
        <ul>
          <li>Right click <u>"New file"</u></li>
          <li>Save it as <code>index.html</code> with <u>Cmd + S or Ctrl + S</u></li>
          <li>Do the same to create a <code>style.css</code> file</li>
          <li>Then <u>"New Folder"</u> and create an <code>images</code> folder</li>
        </ul>
      </li>
      <li>Finally double click on <code>index.html</code> to open it with Chrome</li>
    </ol>
  </div>
</div>
